<%= flash[:error]  %>
你当前没有队伍 <br />
<% if @partys.blank? %>
  暂时无队伍，你可以自己创建一个。
<%else%>
  <%= form_tag :controller => :party_waits%>
  选择个队伍加入： <br />
  <select name="party_id">
    <%= options_for_select @partys  %>
  </select><br />
  <%= submit_tag "加入" %>
  </form>
<%end%>
<br /><br />
创建一个队伍 <br />
<%= form_tag adventure_partys_path %>
队伍名称：
<%= text_field_tag :name  %>
<%= submit_tag "创建" %>
</form>