<h1>宠物命名</h1>

<% form_for(@pet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit '命名' %>
  </p>
<% end %>
<%= link_to '后退', pets_path %>