<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path, :html => {:multipart => true} do |f| -%>
<p><%= f.label :login,User.human_attribute_name(:login) %><br/>
<%= f.text_field :login %></p>

<p><%= f.label :email,User.human_attribute_name(:email) %><br/>
<%= f.text_field :email %></p>

<p><%= f.label :password,User.human_attribute_name(:password) %><br/>
<%= f.password_field :password %></p>

<p><%= f.label :password_confirmation,User.human_attribute_name(:password_confirmation) %><br/>
<%= f.password_field :password_confirmation %></p>
<% f.fields_for :player_attributes do |player|  %>
<%= f.label :name,Player.human_attribute_name(:name)  %> <br />
<p> <%= player.text_field :name %>
</p>
<%= f.label :image_file,Player.human_attribute_name(:image_file)   %> <br />
<p> <%= player.file_field :image_file %> </p>
<% end %>
<%=hidden_field_tag 'player_id',params[:id] || params[:player_id] %>
<p><%= submit_tag t('labels.button.reg'),:name => nil %></p>
<% end -%>
<p><%= t('labels.user.warning') %></p>
