<div id="swleft" class="l">
  <div id="self">
    <%=render :partial => 'status' , :object => @infos[:self] %>
  </div>
  <div id="action">
    <%= form_remote_tag :url => psolo_adventures_path %>
    <%=submit_tag "行动",:id => "submit" %>
    </form>
  </div>
  <%= link_to "返回",adventures_path,:style => "display:none",:id => "back" %>
</div>
<div id="swmid" class="l">
  <div id="fstatus"></div>
  <div id="fnotice"></div>
</div>

<%#*<div id="teammate">%>
<%#=render :partial => 'status' , :collection => @infos[:teammate] %>
<%#*</div>%>
<div id="swright" class="l">
  <div id="enemy">
    <%=render :partial => 'status' , :object => @infos[:enemy][0] %>
  </div>
</div>
<script>
  function fstatus_scroll(){
    $('#fstatus')[0].scrollTop = 10000000000000;$('#fstatus')[0].scrollTop += 100000;
  }
</script>
